@import url('https://fonts.googleapis.com/css?family=Cuprum');

body, html {
  margin: 0;
  padding: 0;
  background: rgba(73, 73, 191, 0.3);
  font-family: 'Cuprum', sans-serif;
  font-size: 18px;
}

header {
  margin-bottom: 50px;
}

button {
  cursor: pointer;
}

#title {
  text-align: center;
  margin: 0 auto;
  color: #fff;
  font-size: 6em;
  background: rgba(255, 255, 255, 0.5)
}

main {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  border-bottom: 1px solid #fff;
}

#pallete-display-main {
  display: flex;
  width: 95%;
  background: rgba(255, 255, 255, 0.5)
}

.color {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border: 1px solid black;
  height: 450px;
  width: 20%;
  background: rgba(146, 196, 240, 0.434);
  margin: 0;
}

.hex-code {
  padding: 2px;
  text-align: center;
  border-radius: 5px;
  color: #fff;
  font-size: 2.5em;
  background: rgba(0, 0, 0, 0.4);
  width: 75%;
}

.lock-btn {
  height: 35px;
  width: 35px;
  margin-bottom: 25px;
  display: block;
  border: none;
  border-radius: 50%;
  color: #fff;
  margin: 10px auto;
  background: rgba(0, 0, 0, 0.4);
}

#generate {
  width: 125px;
  height: 65px;
  margin: 25px 0 50px 0;
  background: none;
  border: 2px solid #fff;
  font-size: 1em;
  color: #fff;
  transition: color .5s, border-color .5s;
}

#generate:hover, .new-pallete-btn:hover {
  color: rgb(0, 200, 255);
  border-color: rgb(0, 200, 255);
}

input {
  margin: 0px 30px 25px 25px;
}

.new-pallete-btn {
  background: none;
  border: 2px solid #fff;
  color: #fff;
  transition: color .5s, border-color .5s;
}

#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
}

label {
  display: block;
  color: #fff;
}

.saved-project {
  text-align: center;
  border: 1px solid white;
  width: 300px;
}

#thumbnails {
  display: flex;
  justify-content: space-between;
}

.thumbnail-color {
  margin: 10px;
  width: 25px;
  height: 25px;
  background: green;
}

.delete-pallete {
  background: none;
  color: #fff;
  border: none;
}


@media only screen and (max-width: 950px) { 
  .hex-code {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 450px) { 
  .hex-code {
    font-size: 1em;
  }
}
