@import url('https://fonts.googleapis.com/css?family=Cuprum');

body, html {
  margin: 0;
  padding: 0;
  background: rgba(73, 73, 191, 0.3);
  font-family: 'Cuprum', sans-serif;
  font-size: 18px;

}

#title {
  margin: 0 auto;
  width: 50%;
  color: #fff;
  font-size: 6em;
}

