@import url('https://fonts.googleapis.com/css?family=Cuprum');

body, html {
  margin: 0;
  padding: 0;
  background: #000;
  font-family: 'Cuprum', sans-serif;
  font-size: 18px;
  height: 100%;
}

header {
  margin-bottom: 50px;
}

.wrapper {
  display: flex;
}

.projects-wrapper {
  text-align: center;
  /* width:20%; */
}

button {
  cursor: pointer;
}
button:focus {
  outline:0;
}

#title {
  text-align: center;
  margin: 0 auto;
  color: #fff;
  font-size: 6em;
  background: linear-gradient(to right, rgb(208, 7, 7), rgb(179, 52, 242) 80%);
  border-bottom: 1px solid;
}

main {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  border-bottom: 1px solid #fff;
  width: 80%;
  margin-left: 2%;
}

.form-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  background: rgba(255,255,255, 0.2)
}

#palette-name {
 margin: 0 10px;
}

#palette-display-main {
  display: flex;
  width: 100%;
  background: rgba(255, 255, 255, 0.5)
}

.color {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 450px;
  width: 20%;
  background: rgba(146, 196, 240, 0.434);
  margin: 0;
}

.palette-title {
  font-size: 1.5em;
  cursor: pointer;
  transition: color 0.2s;
}

.palette-title:hover {
  color: lightgreen;
}

.hex-code {
  padding: 2px;
  text-align: center;
  border-radius: 5px;
  color: #fff;
  font-size: 2em;
  background: rgba(0, 0, 0, 0.4);
  width: 75%;
}

#new-palette-form {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.lock-btn {
  height: 35px;
  width: 35px;
  margin-bottom: 25px;
  display: block;
  border: none;
  border-radius: 50%;
  color: #fff;
  margin: 10px auto;
  background: rgba(0, 0, 0, 0.4);
}

.unlock {
  background-image: url('../assets/unlock.png');
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}

.lock {
  background-image: url('../assets/lock.png');
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}

#generate {
  width: 125px;
  height: 65px;
  margin: 20px 0;
  background: none;
  border: 2px solid #fff;
  font-size: 1em;
  color: #fff;
  transition: color .5s, border-color .5s;
}

#generate:hover, .new-palette-btn:hover {
  color: rgb(0, 200, 255);
  border-color: rgb(0, 200, 255);
}

input {
  margin: 0px 30px 25px 25px;
}

.new-btn {
  background: none;
  border: 2px solid #fff;
  color: #fff;
  transition: color .5s, border-color .5s;
}

#projects {
  margin-top:50px;
  text-align: center;
}

#project-name {
  margin: 2px;
}

h3 {
  margin: 0 0 10px 0;
  color: rgb(255, 219, 126);
  font-size: 1.5em;
  border-bottom: 1px solid rgb(255, 219, 126);
  width: 40%;  
}

#saved-projects {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 500px;
  overflow-y: scroll;
}

.title-align {
  display: flex;
  justify-content: space-between;
}

label {
  display: block;
  color: #fff;
}

.saved-project {
  color: #fff;
  border: 1px solid white;
  min-width: 260px;
  padding: 10px;
  
  margin: 25px;
  background: rgba(255,255,255, 0.2);
  min-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#thumbnails {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
  margin-bottom: 15px;
}

.thumbnail-color {
  margin-bottom: 5px;
  width: 25px;
  height: 25px;
}

.delete-palette {
  float: right;
  margin-left: 5px;
  background: none;
  border: none;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-image: url('../assets/trash.png');
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: top;
  transition: background-image 0.2s;
}

.error {
  color: rgb(255,0,0);
  display: none;
}

.delete-palette:hover {
  background-image: url('../assets/trashHover.png');
}

@media only screen and (max-width: 950px) { 
  .hex-code {
    font-size: 1em;
  }
}

@media only screen and (max-width: 450px) { 
  .hex-code {
    font-size: 1em;
  }
}
